body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* select box styles */
.select-box-style {
  width: 18%;
  height: 30px;
  font-size: 80%;
  float: left;
  margin: 0px 10px 0px 10px;
}

/* multiselect box styles */
.multiselect-box-style {
  width: 18%;
  font-size: 80%;
  float: left;
  margin: 0px 10px 5px 10px;
  border-radius: 4px;
}
.warning-style {
  font-size: 80%;
  float: left;
  width: 18%;
  margin: auto auto 5px auto;
}

/* filter-style */
.filter-style {
  width: 70%;
  height: 40px;
  margin: 20px auto 5px auto;
  vertical-align: top;
}

/* button-style */
.button-style {
  height: 30px;
  width: 10%;
  font-size: 80%;
  border: 1px solid #a6a6a6;
  border-radius: 4px;
  float: right;
  margin-right: 10px;
}

/* input-style */
.input-style {
  width: 18%;
  height: 25px;
  font-size: 80%;
  float: left;
  border-radius: 4px;
  margin: 0px 10px 0px 10px;
}

/* table styles */
.table-style {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #f2f2f2;
  vertical-align: top;
}

.header-style {
  height: 40px;
  background-color: #d1d1d1;
}

.cell-style {
  padding: 15px;
}
